*{
    color: rgb(89, 89, 89);
} 
/*Header start*/
.nav_menu{
    display: inline-flex;
}
.logo_icon img{
    width: 40%;
    padding: 15px;
}
.menu li{
    list-style: none;
    display: inline-flex;
    padding: 5px;
}
.menu li a{
    text-decoration: none;
    color: black;
}
hr{
    background:rgb(163, 162, 162);
}   
.menu li a:hover{
    text-decoration: none;
    color: blue;
}
/*Header start*/
/*Section start*/
.contant_img1 img{
    width: 95%;
    padding: 25px;
}
.col{
    padding: 10%;
}
.about{
    padding: 2% 20% 0% 20%;
}
.about_containt{
    text-align: center;
    padding-bottom: 3%;
}
.about_img1 img{
    width: 100%;
    height: 100%;
    border-radius: 2%;
    border: 2px solid white;
}
.about_img2 img{
    width: 100%;
    height: 50%;
    border-radius: 2%;
    border: 1px solid white;
}
.about_img3 img{
    width: 100%;
    height: 50%;
    border-radius: 2%;
    border: 1px solid white;
}
.about_img1{
    position: relative;
    text-align: center;
}
.about_img1{
    position: relative;
    text-align: center;
}
.bottom-left {
    position: absolute;
    bottom: 0;
    right: 25;
    color: black;
    background-color: white;
    border-radius: 0 10px 0 0;
    padding: 20px 25px 0 20px;
}
.bottom-left p,a{
    font-size: xx-small;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
.about_img2{
    position: relative;
    text-align: center;
}
.img_txt{
    position: absolute;
    top: 30;
    bottom: 0;
    right: 15;
    font-size: x-small;
    font: bold;
    background-color: white;
    border-radius: 0 10px 0 0;
    padding: 20px 25px 0 20px;
}
.about_img3{
    position: relative;
    text-align: center;
}
.img_txt3{
    position: absolute;
    top: 60;
    bottom: 0;
    right: 15;
    font-size: x-small;
    font: bold;
    background-color: white;
    border-radius: 0 10px 0 0;
    padding: 20px 25px 0 20px;
}
/*Section end*/